/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .c-white {color: white}
  .grey {color:#bed0d1}
  .d-flex {display: flex}
  .row {flex-direction:row}
  .center {justify-content: center}
  .align-center {align-items: center}
  .space-between {justify-content: space-between}
  .w-100 {width: 100%}
  .relative {position:relative}
  .column {flex-direction:column}